main h1 {
    margin: 0.2em;
    text-align: center;
    font-family: VT323, monospace;
    font-size: 4em;
}
main p {
    text-indent: 2em;
    margin: 1em;
    padding: 1em;
    width: 40%;
    float: left;
}

figcaption.wizard {
    width: 500px;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    float: right;
    margin-right: 9%;
}

figcaption.manager {
    width: 400px;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
}

figure.manager {
    margin-left: 20%;
}
#closing {
    float: right;
}
a.smallcap{
    font-variant: small-caps;
    font-size: 1.1em;
    color: #b8bb26;
    text-decoration: none;
    border-bottom: 1px dotted #b8bb26;
}
footer {
    text-align: center;
    width: 40em;
    padding: 1em;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}
