/* ===== F.O.N.T.S ===== */

/* main font */
@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-VariableFont_wght.ttf');}


/* Title font */
@font-face {
    font-family: 'VT323';
    src: url('VT323-Regular.ttf');}

/* ===== L.A.Y.O.U.T ====== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0; /* clean start */
    background-image: url("../img/bg-tile.png");
    color: #fbf1c7;
    font-family: 'Fira Code', monospace;
}

#page {
    width: 70%;
    margin: auto;
    /*height: 100vh;*/

    /*background styling */
    background-color: #282828;
    border-radius: 2em;
}

/* Header */
#title {
    background-image: url("../img/cloud-bar.webp");
}

#title h1 {
    font-size: 4.5em;
    font-family: VT323, monospace;
    text-align: center;
    color: #d65d0e;
}

#title p {
    text-align: center;
    font-style: oblique;
}


/* nav-bar */
nav ul {
    margin: 0px auto 5px auto;
    border: 4px double #d79921;
    background-color: #d65d0e;
    text-align: center;
}

nav li {
    display: inline;
}
nav a {
    color: #fbf1c7;
    font-family: VT323, monospace;
    font-size: 1.4em;
    text-decoration: none;
    padding: 0.1em;
    border: 2px outset #df9;
}

a.current {
    font-weight: bold;
    font-size: 1.5em;
}

nav a:hover {
    font-size: 1.6em;
    color: #b8bb26;
    background-color: #fb4934;
    text-decoration: none;
    border-bottom: 2px dotted white;
    padding-bottom: 0.1em;
}
/* === SIDE PANEL === */
aside {
    float: left;
    width: 20%;
    margin: 0;
    background-color:  #8ec07c;
    border: 4px double #d79921;

}
aside ul {
    margin: auto;
}
aside li {
    list-style: none;
    text-align: center;
    background-color: darkgreen;
    margin: 1em;
    padding: 1em;
    border: 2px inset sienna;
    border-radius: 0.5em;
}

aside a {
    font-size: 1.3em;
    font-family: 'Fira Code', monospace;
    color: #fbf1c7;
    text-decoration: none;
}

/*aside a:hover {
    color:
}
*/
main {
    float: right;
    width: 75%;
    margin-left: 1em;
    border: 3px darkorange solid;
}
main h1, main h2 {
    font-family: VT323, monospace;
    text-align: center;
}
/* ===== FOOTER ===== */
footer {
    text-align: center;
    width: 40em;
    padding: 1em;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}

