/*
bg0 = #282828
yellow3 = #d79921
orange1 = #d65d0e
fg0 = #fbf1c7
red2 = #fb4934;
green2 = #b8bb26;
aqua2 = #8ec07c;
*/
/* Fonts */
@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-VariableFont_wght.ttf');}

@font-face {
    font-family: 'VT323';
    src: url('VT323-Regular.ttf');}

/*-------------------------------------------*/
body {
    background-image: url("../img/bg-tile.png");
}

#page {
    width: 70%;
    height: 2000px;
    margin: auto;
    background-color: #282828;
    
}

header {
    height: 150px;
    /* background-image: url("../img/cloud-bar.webp");*/
}
/* nav bar */

ul.nav-bar {
    margin: 0px auto 5px auto;
    border: 4px double #d79921;
    background-color: #d65d0e;
    text-align: center;
}
ul.nav-bar li {
    display: inline;
}
/* trying to get ul.navbar a as a selector through inheritance*/
  a.nav-bar {
    font-family: VT323, monospace;
    font-size: 1.4em;
    color: #fbf1c7;
    text-decoration: none;}

  a.current {
      font-family: VT323, monospace;
      font-size: 1.6em;
      color: #fbf1c7;
      text-decoration: none;
      font-weight: bold;}

  a.nav-bar:hover {
      font-family: VT323, monospace;
    font-size: 1.6em;
    color: #b8bb26;
    background-color: #fb4934;
    text-decoration: underline;
  }

  #side-panel {
      background-color:  #8ec07c;
      width: 30%;
      border: 6px solid #d65d0e;
      float: left;
      margin: 5px;
  }

  #side-panel li {
      margin: 5px;
      border: 4px double #d79921;
      list-style: none;
  }

  #side-panel a {
      font-family: Fira Code, monospace;
      font-size: 1.3em;
      color: #fbf1c7;
      text-decoration: none;
  }

  #content {
      float: left;
      width: 63%;
      padding: 10px;
     /* border: 4px double white; */
      color: #fbf1c7;
  }

 #intro p image {
     margin: 5px;
      color: #282828;
      background-color: #fbf1c7;
      float: left;
      display: inline;
 }

 #sale-banner {
     position: relative;
     top: 50px;
     text-align: center;
     background-color: #b8bb26;
 }
 
 #sale-banner a:link {
     color: #fb4934;
     text-decoration: none;
     font-family: VT323;
 }
 #sale-banner a:hover {
     color: #fff;
 }
  
 .box1, .box2, .box3 {
     position: relative;
     top: 30px;
     margin: 10px;
     padding: 5px;
     float: left;
     height: 300px;
     width: 200px;
     background-color:#fbf1c7;
     color: #282828;
     border:  6px solid  #8ec07c;
 }
